.background-image {
  background-image: url("./assets/plants.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}
